<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>headers}}
    <p>use this site for getting the weather</p>
    <form>
        <input type="text" placeholder="location" id="location" name="location">
        <button type="submit">search</button>
    </form>
    <p class="message-one"></p>
    <p class="message-two"></p>

    </div>
     {{>footer}}
    <script src="/js/index.js"></script>
   
</body>
</html>